        <form action="{% url "delete" document.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>
                {{ form.docfile.errors }}
            </p>

            <p><input type="submit" value="Delete"/></p>
        </form>
