
<html>
    <head>
        <meta charset="utf-8">
        <title>Details</title>
    </head>

    <body>

        {% if document %}
                    <div style="display: table;">
                        <div style="display: table-row;">
                            {% for color in document.color_range %}
                            <div style="display: table-cell; width: 1px; height: 30px; background: {{ color.web }};"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div style="display: table;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">
                                {% if document.docfile %}
                                    source:<br>
                                    <a href="{{ document.docfile.url }}"><img src="{{ document.docfile.url }}"></a>
                                {% else %}
                                    <i>no source</i>
                                {% endif %}
                            </div>
                            <div style="display: table-cell;">
                                {% if document.gray%}
                                    gray:<br>
                                    <a href="{{ document.gray.url }}"><img src="{{ document.gray.url }}"></a>
                                {% else %}
                                    <i>no gray</i>
                                {% endif %}
                            </div>
                            <div style="display: table-cell;">
                                {% if document.graymap%}
                                    graymap:<br>
                                    <a href="{{ document.graymap.url }}"><img src="{{ document.graymap.url }}"></a>
                                {% else %}
                                    <i>no graymap</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
        {% endif %}

        <form action="{% url "delete" document.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>
                {{ form.docfile.errors }}
            </p>

            <p><input type="submit" value="Delete"/></p>
        </form>
        <a href="{% url 'list' %}">back to list</a><br>

    </body>

</html>
