{% load color_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List</title>
        <style>
.row {
    width: 100%;
    text-align: center; 
}

.block {
    width: 100px;
    display: inline-block;
}
        </style>
    </head>

    <body>
        {% if documents %}
            <ul>
                {% for document in documents %}
                <li>
                    <div style="display: table;">
                        <div style="display: table-row;">
                            {% for color in document.color_range %}
                            <div style="display: table-cell; width: 1px; height: 30px; background: {{ color.web }};"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div style="display: table;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">
                                {% if document.docfile %}
                                    <a href="{{ document.docfile.url }}"><img src="{{ document.docfile.url }}"></a>
                                {% else %}
                                    <i>no source</i>
                                {% endif %}
                            </div>
                            <div style="display: table-cell;">
                                {% if document.gray%}
                                    <a href="{{ document.gray.url }}"><img src="{{ document.gray.url }}"></a>
                                {% else %}
                                    <i>no gray</i>
                                {% endif %}
                            </div>
                            <div style="display: table-cell;">
                                {% if document.graymap%}
                                    <a href="{{ document.graymap.url }}"><img src="{{ document.graymap.url }}"></a>
                                {% else %}
                                    <i>no graymap</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'details' document.id %}">details</a><br>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="text" name="col1" value="#582f91"/></p>
            <p><input type="text" name="col2" value="#00aeef"/></p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
